<%- include("partials/header") -%>
<style>
    #accordion{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .card{
        min-width: 280px;
        width: 60%;
    }
</style>
  <div class="ui container fade-in one">
    <div id="accordion">
        <h4>SELECT STATE</h4>  
        <% data.forEach((state)=>{ %>
        <div class="card">
          <div class="card-header" id="<%= state['state'].substr(0,5) %>">
            <h5 class="mb-0">
              <button class="btn btn-light collapsed" data-toggle="collapse" data-target="#<%= state['state'].substr(0,5) %>col" aria-expanded="true" aria-controls="<%= state['state'].substr(0,5) %>col">
                <%= state['state'] %>
              </button>
            </h5>
          </div>
      
          <div id="<%= state['state'].substr(0,5) %>col" class="collapse" aria-labelledby="<%= state['state'].substr(0,5) %>" data-parent="#accordion">
            <div class="card-body">
                <table class="ui sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Districts</th>
                            <th class="">Confirmed</th>
                        </tr>
                    </thead>
                    <tbody>
                            
                                <% state['districtData'].forEach((district)=>{ %>
                                    <tr>
                                        <td><%= district['district'] %></td>
                                        <td><%= district['confirmed'] %></td>
                                    </tr>
                                <% }) %>
                            
                    </tbody>
                </table>
             </div>
          </div>
        </div> 
        <% }) %>
      </div>
  </div>
<%- include("partials/footer") -%>  