<%- include("partials/header") -%>
<% statedata.sort((a,b)=>{ %>
<%  return b["total"]-a["total"]; %>
<% }) %>
<% function numberWithCommas(x) { %>
<%  return Number(x).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
<% } %>
<div class="ui container" >
    <div class="ui stackable grid">
        <div class="eight wide column fade-in one">
            <div class="ui grid">
                <div class="eight wide column">
                    <h1>GLOBAL</h1>
                    <div class="ui cards">
                        <div class="orange card">
                          <div class="content">
                            <div class="header" style="color: rgb(255, 102, 0);">Active Cases</div>
                            <div class="meta"><%= ((statedata[0]["active"]/statedata[0]["total"])*100).toPrecision(3) %>%</div>
                            <div class="description">
                                <strong><span class="count"><%= numberWithCommas(statedata[0]["active"]) %></span></strong>
                            </div>
                          </div>
                        </div>
                        <div class="green card">
                            <div class="content">
                              <div class="header" style="color: rgb(0, 102, 0);">Recovered</div>
                              <div class="meta"><%= ((statedata[0]["recovered"]/statedata[0]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[0]["recovered"]) %></strong> <!--(+<%= numberWithCommas(statedata[0]["dailyrecovered"]) %>) -->
                              </div>
                            </div>
                          </div>
                          <div class="red card">
                            <div class="content">
                              <div class="header" style="color: rgb(204, 51, 0);">Deaths</div>
                              <div class="meta"><%= ((statedata[0]["deaths"]/statedata[0]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[0]["deaths"]) %></strong> (+<%= numberWithCommas(statedata[0]["dailydeaths"]) %>)
                              </div>
                            </div>
                          </div>
                          <div class="black card">
                            <div class="content">
                              <div class="header">Total Cases</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[0]["total"]) %></strong> (+<%= numberWithCommas(statedata[0]["dailytotal"]) %>)
                              </div>
                            </div>
                          </div>    
                    </div>
                </div>
                <div class="eight wide column fade-in two">
                    <h1>INDIA</h1>
                    <div class="ui cards">
                        <div class="orange card">
                          <div class="content">
                            <div class="header" style="color: rgb(255, 102, 0);">Active Cases</div>
                            <div class="meta"><%= ((statedata[1]["active"]/statedata[1]["total"])*100).toPrecision(3) %>%</div>
                            <div class="description">
                                <strong class="count"><%= numberWithCommas(statedata[1]["active"]) %></strong>
                            </div>
                          </div>
                        </div>
                        <div class="green card">
                            <div class="content">
                              <div class="header" id="rvd" style="color: rgb(0, 102, 0);">Recovered</div>
                              <div class="meta"><%= ((statedata[1]["recovered"]/statedata[1]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[1]["recovered"]) %></strong> (+<%= numberWithCommas(statedata[1]["dailyrecovered"]) %>)
                              </div>
                            </div>
                          </div>
                          <div class="red card">
                            <div class="content">
                              <div class="header" style="color: rgb(204, 51, 0);">Deaths</div>
                              <div class="meta"><%= ((statedata[1]["deaths"]/statedata[1]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[1]["deaths"]) %></strong> (+<%= numberWithCommas(statedata[1]["dailydeaths"]) %>)
                              </div>
                            </div>
                          </div>
                          <div class="black card">
                            <div class="content">
                              <div class="header">Total Cases</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[1]["total"]) %></strong> (+<%= numberWithCommas(statedata[1]["dailytotal"]) %>)
                              </div>
                            </div>
                          </div>  
                    </div>
                </div>
                
                <div class="time" style="color: black">Daily Cases in bracket. &nbsp &nbsp Last Updated: <%= time[1]+" "+time[2]+" "+time[0] %></div>
                <div>
                </div>
                <h2 style="margin: 1rem auto">PREDICTIONS</h2>
                <div class="ui segment" style="width: 100%; margin: .25rem 1rem;">
                  <div class="ui small statistics" style="margin: 0 auto;">
                    <div class="grey statistic" style="width: 100%;margin: 0 auto;">
                      <div class="value">
                        <%= ((mean-1)*100).toFixed(2)%>%
                      </div>
                      <div class="label">
                        Growth Rate
                      </div>
                    </div>
                    <div class="grey statistic" style="width: 100% ;margin: .25rem auto;">
                      <div class="value">
                        <%= numberWithCommas((statedata[1]["total"]*(mean-1)).toFixed(0)) %>
                      </div>
                      <div class="label">
                        Expected New Cases(24 hrs)
                      </div>
                    </div>
                    <div class="grey statistic" style="width: 100% ;margin: .25rem auto;">
                      <div class="value">
                        <%= numberWithCommas((statedata[1]["total"]*(Math.pow(mean,5))-statedata[1]["total"]).toFixed(0)) %>
                      </div>
                      <div class="label">
                        Expected New Cases(5 days)
                      </div>
                    </div>
                  </div>
                  <div class="time" style="width: 100% ;text-align: center;">*The Predictions are only for India</div>
                </div>
                
                
            </div>
            <div id = "chart1" class="fade-in three" style = "width: 100%; height: auto; margin: 2rem auto">
            </div>
            <div id = "chart2" class="fade-in three" style = "width: 100%; height: auto; margin: 1rem auto">
            </div>
        </div>
        <div class="eight wide column fade-in four">
            <h4>INDIA STATEWISE &nbsp &nbsp
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary btn-sm active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> CUMULATIVE
              </label>
              <label class="btn btn-secondary btn-sm">
                <input type="radio" name="options" id="option2" autocomplete="off"> DAILY
              </label>
            </div>
            </h4>
            <table class="ui sortable unstackable selectable celled table">
                <thead>
                    <tr>
                        <th>State</th>
                        <th class="disptotal order">Cnfmd</th>
                        <th class="disptotal">Active</th>
                        <th class="disptotal">Rcvrd</th>
                        <th class="disptotal">Death</th>
                        <th class="disp hide order">Confirmed</th>
                        <th class="disp hide">Recovered</th>
                        <th class="disp hide">Death</th>
                    </tr>
                </thead>
                <tbody>
                    <% statedata.forEach((state)=>{ %>
                        <% if(state["name"]=="Global" || state["name"]=="Total" || state["total"]== 0) { %>
                            <% return;} %>
                        <tr>
                            <td><strong><%= state["name"] %></strong></td>
                            <td class="disptotal"><%= numberWithCommas(state["total"]) %></td>
                            <td class="disptotal"><%= numberWithCommas(state["active"]) %></td>
                            <td class="disptotal"><%= numberWithCommas(state["recovered"]) %></td>
                            <td class="disptotal"><%= numberWithCommas(state["deaths"]) %></td>
                            <td class="disp hide val"><%= numberWithCommas(state["dailytotal"]) %></td>
                            <td class="disp hide"><%= numberWithCommas(state["dailyrecovered"]) %></td>
                            <td class="disp hide"><%= numberWithCommas(state["dailydeaths"]) %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <div id="json" hidden> <%= daily %></div>
</div>

<%- include("partials/footer") -%>

<script src="/scripts/index.js"></script>