<%- include("partials/header") -%>
<% statedata.sort((a,b)=>{ %>
<%  return b["total"]-a["total"]; %>
<% }) %>
<% function numberWithCommas(x) { %>
<%  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %>
<% } %>
<!-- <div class="head fade-in one">
<div class="ui container" >
    <div class="ui centered inverted huge header">
        <img src="/images/headericon.png" alt="icon">
          Live Covid19 Tracker
    </div>
</div>
</div> -->


<div class="ui container" >
    <div class="ui stackable grid">
        <div class="eight wide column fade-in two">
            <div class="ui grid">
                <div class="eight wide column">
                    <h1>GLOBAL</h1>
                    <div class="ui cards">
                        <div class="orange card">
                          <div class="content">
                            <div class="header" style="color: rgb(255, 102, 0);">Active Cases</div>
                            <div class="meta"><%= ((statedata[0]["active"]/statedata[0]["total"])*100).toPrecision(3) %>%</div>
                            <div class="description">
                                <strong><span class="count"><%= numberWithCommas(statedata[0]["active"]) %></span></strong>
                            </div>
                          </div>
                        </div>
                        <div class="green card">
                            <div class="content">
                              <div class="header" style="color: rgb(0, 102, 0);">Recovered</div>
                              <div class="meta"><%= ((statedata[0]["recovered"]/statedata[0]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[0]["recovered"]) %></strong> (+<%= numberWithCommas(statedata[0]["dailyrecovered"]) %>)
                              </div>
                            </div>
                          </div>
                          <div class="red card">
                            <div class="content">
                              <div class="header" style="color: rgb(204, 51, 0);">Deaths</div>
                              <div class="meta"><%= ((statedata[0]["deaths"]/statedata[0]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[0]["deaths"]) %></strong> (+<%= numberWithCommas(statedata[0]["dailydeaths"]) %>)
                              </div>
                            </div>
                          </div>
                          <div class="black card">
                            <div class="content">
                              <div class="header">Total Cases</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[0]["total"]) %></strong> (+<%= numberWithCommas(statedata[0]["dailytotal"]) %>)
                              </div>
                            </div>
                          </div>    
                    </div>
                </div>
                <div class="eight wide column fade-in three">
                    <h1>INDIA</h1>
                    <div class="ui cards">
                        <div class="orange card">
                          <div class="content">
                            <div class="header" style="color: rgb(255, 102, 0);">Active Cases</div>
                            <div class="meta"><%= ((statedata[1]["active"]/statedata[1]["total"])*100).toPrecision(3) %>%</div>
                            <div class="description">
                                <strong class="count"><%= numberWithCommas(statedata[1]["active"]) %></strong>
                            </div>
                          </div>
                        </div>
                        <div class="green card">
                            <div class="content">
                              <div class="header" id="rvd" style="color: rgb(0, 102, 0);">Recovered</div>
                              <div class="meta"><%= ((statedata[1]["recovered"]/statedata[1]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[1]["recovered"]) %></strong> (+<%= numberWithCommas(statedata[1]["dailyrecovered"]) %>)
                              </div>
                            </div>
                          </div>
                          <div class="red card">
                            <div class="content">
                              <div class="header" style="color: rgb(204, 51, 0);">Deaths</div>
                              <div class="meta"><%= ((statedata[1]["deaths"]/statedata[1]["total"])*100).toPrecision(3) %>%</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[1]["deaths"]) %></strong> (+<%= numberWithCommas(statedata[1]["dailydeaths"]) %>)
                              </div>
                            </div>
                          </div>
                          <div class="black card">
                            <div class="content">
                              <div class="header">Total Cases</div>
                              <div class="description">
                                  <strong class="count"><%= numberWithCommas(statedata[1]["total"]) %></strong> (+<%= numberWithCommas(statedata[1]["dailytotal"]) %>)
                              </div>
                            </div>
                          </div>    
                    </div>
                </div>
                <div id="time" style="color: black;text-align: right;">Daily Cases in bracket.<span style="text-align: right;">Last Updated: <%= time %></span></div>
                <div></div>
            </div>
            <div id = "chart1" class="fade-in four"style = "width: 100%; height: 20%; margin: 2rem auto">
            </div>
            <div id = "chart2" class="fade-in four"style = "width: 100%; height: 20%; margin: 1rem auto">
            </div>
        </div>
        <div class="eight wide column fade-in five">
            <h4>INDIA STATEWISE</h4>
            <table class="ui sortable unstackable selectable celled table">
                <thead>
                    <tr>
                        <th>State</th>
                        <th class="">Active</th>
                        <th class="">Rcvrd</th>
                        <th class="">Deaths</th>
                        <th class="">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% statedata.forEach((state)=>{ %>
                        <% if(state["name"]=="Global" || state["name"]=="Total" || state["total"]== 0) { %>
                            <% return;} %>
                        <tr>
                            <td><strong><%= state["name"] %></strong></td>
                            <td><%= numberWithCommas(state["active"]) %></td>
                            <td><%= numberWithCommas(state["recovered"]) %></td>
                            <td><%= numberWithCommas(state["deaths"]) %></td>
                            <td><%= numberWithCommas(state["total"]) %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <div id="json" hidden> <%= daily %></div>
</div>
<script src="/scripts/index.js"></script>

<%- include("partials/footer") -%>